.header-container {
  height: 90vh;
  background-image: url(../img/Background.png);
  background-size: cover;
}

.header {
  padding-inline: 10rem;
  display: flex;
  justify-content: space-between;
}

.header-action {
  padding-top: 5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header-register {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-picture img {
  height: 38rem;
  width: auto;
}

@media (max-width: 415px) {

  h1 {
    font-size: 2.8rem;
  }

  .header-container {
    height: 100vh !important;
  }

  .header {
    padding-inline: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-action {
    width: 100%;
    margin-bottom: 2rem;
  }

  .header-picture img {
    height: 28rem;
    width: auto;
  }
}

@media (max-width: 768px) {
  .header-container {
    height: 160vh;
  }
  

  .header {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-action {
    width: 80%;
    margin-bottom: 2rem;
  }
}